ul { list-style: none; }
ul>li>a {
color: grey;
text-decoration: none;
line-height: 1.8;
}
ul>li>a:hover,
a:hover{
color: #ff6600;
font-weight: 500;
}

.col-heading {
display: block;
font-size: 2rem;
text-transform: uppercase;
color:#304f50;
font-weight: 500;
margin: 1rem 0;
padding: .4rem 0px;
border-bottom: 1px solid #c7c7c7; 
letter-spacing: 3px;
}

.fa {
color: #304f50;
margin-right: 10px;
font-size:18px;
width:2.25rem;
}
#to-top {
display: none;
position: fixed;
bottom: 40px;
right: 20px;
font-size: 18px;
border: none;
outline: none;
background-color: #304f50;
color: white;
padding: 15px;
border-radius: 14px;
cursor: pointer;
z-index: 99;
}
#to-top:hover {
background-color: #555;
}

#bottom-footer {
background-color:cadetblue;
color:white;
margin-top: 2rem;
padding-top: .3rem;
}
.vertical-links>li {
display: inline-block;
vertical-align: text-bottom;
}
.vertical-links>li>a {
color: white;
font-weight: 400;
margin-left: 1rem;
list-style-type:square;
}